@font-face {
  src: url('assets/fonts/Mulish-Bold.ttf');
  font-family: MBold;
}
@font-face {
  src: url('assets/fonts/Mulish-Light.ttf');
  font-family: MLight;
}
@font-face {
  src: url('assets/fonts/Mulish-LightItalic.ttf');
  font-family: MLightItalic;
}
@font-face {
  src: url('assets/fonts/Mulish-Regular.ttf');
  font-family: MRegular;
}
@font-face {
  src: url('assets/fonts/Mulish-SemiBold.ttf');
  font-family: MSemiBold;
}

*{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

html,body{
  font-family: MRegular;
  background-color: #f7f7f7;
}

:root{
  --m-blue-purple: #AFB3F7;
  --blue-eyes: #92BCEA !important;
  --green-primary: #257973;
  --oxford-blue: #01172F;
  --dark-sienna: #4C212A;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
}

a:hover{
  color: #237cc5;
}

.required-label::after {
  content: '*';
  font-size: 12px;
  top: -5px;
  left: 3px;
  position: relative;
  color:rgb(255, 145, 145);
}

.bttn{
  border: 0px;
  padding: 8px 14px;
  font-size: 14px;
  font-family: 'MRegular';
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.bttn-primary{
  background-color: var(--blue-eyes);
  color: var(--oxford-blue);
}
.bttn-primary:hover{
  background-color: var(--primary-color);
}

.btnn{
  border: 0px;
  padding: 8px 14px;
  font-size: 16px;
  font-family: 'MRegular';
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

.btnn-p{
  background-color: var(--blue-600);
  color: var(--blue-50);
}
.btnn-p:hover{
  background-color: var(--blue-500);
}

.btnn-g{
  background-color: var(--green-600);
  color: var(--green-50);
}
.btnn-g:hover{
  background-color: var(--green-500);
}

.btnn-r{
  background-color: var(--pink-600);
  color: var(--pink-50);
}
.btnn-r:hover{
  background-color: var(--pink-500);
}


.btnn.ric i{
  padding-right: 5px;
}
.btnn.lic i{
  padding-left: 5px;
}
.btnn.x i{
  padding: 0px 5px;
}

.p-field{
  display: flex;
  flex-direction: column;
  margin: 4px !important;
}

.p-field > label{
  font-size: 16px;
  margin-bottom: 6px !important;
}

.m-input{
  padding: 8px 8px;
  font-size: 16px;
  font-family: MLight;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
}
.m-input:focus-visible{
  outline: 0px;
}

.light-text{
  color: rgb(161, 159, 159);
}

.bold-text{
  font-family: MSemiBold;
}

/* PRIME FACE CUSTOM STYLE */
:host /deep/ .p-inputtext{
  font-family: MLight;
}
.p-inputtext:enabled:hover{
  box-shadow: none;

}
