<div class="user-password-container">

    <form (ngSubmit)="onSubmit()"  [formGroup]="changePasswordForm">
  
      <!-- Old password -->
        <div class="p-col-12">
            <div class="p-field">
                <label for="old-password">Stara Lozinka</label>
                <input type="password"
                    formControlName="oldPassword"
                    id="old-password"
                    class="m-input"
                >
            </div>
            <div *ngIf="!changePasswordForm.get('oldPassword').valid && showErrors">
                <div class="error" *ngIf="changePasswordForm.get('oldPassword').errors['required']" >
                  Morate popuniti ovo polje.
                </div>
            </div>
        </div>        
  
        <!-- Password -->
        <div class="p-col-12">
            <div class="p-field">
                <label for="password">Nova lozinka</label>
                <input type="password"
                    formControlName="password"
                    id="password"
                    class="m-input"
                >
            </div>
            
            <div *ngIf="!changePasswordForm.get('password').valid && showErrors">
            <div class="error" *ngIf="changePasswordForm.get('password').errors['required']" >
                Morate popuniti ovo polje.
            </div>
            <div class="error" *ngIf="!changePasswordForm.get('password').errors['required'] && (changePasswordForm.get('password').errors['minlength'])" >
                Lozinka mora imati najmanje 6 karaktera.
            </div>
            <div class="error" *ngIf="!changePasswordForm.get('password').errors['required'] &&
                    !changePasswordForm.get('password').errors['minlength'] && changePasswordForm.get('password').errors['strong']">
                Lozinka mora sadržati broj, veliko i malo slovo.
            </div>
            </div>
        </div>
  
        <!-- Repeat password -->
        <div class="p-col-12">
            <div class="p-field">
                <label for="repeat-password">Ponovite lozinku</label>
                <input type="password"
                    formControlName="repeatPassword"
                    id="repeat-password"
                    class="m-input"
                >
            </div>
            <div *ngIf="showErrors && ((changePasswordForm.errors !== null && changePasswordForm.errors['match']) ||
                        !changePasswordForm.get('repeatPassword').valid)">
            <div class="error" *ngIf="!changePasswordForm.get('repeatPassword').valid" >
                Morate popuniti ovo polje.
            </div>
            <div class="error" *ngIf="changePasswordForm.get('repeatPassword').valid &&
                    changePasswordForm.errors !== null && changePasswordForm.errors['match']" >
                Lozinke se moraju poklapati.
            </div>
            </div>
        </div>
  
        <div class="p-col p-mt-2 p-ml-2">
            <div class="error"*ngIf="errorMessage !== ''">
            <p>{{ errorMessage }}</p>
            </div>
            <button class="btnn btnn-p" type="submit">
            Sačuvaj izmene
            </button>
        </div>
  
    </form>
  </div>
  