
.user-password-container{
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  .mFooter > button{
    margin: 20px 0px 0px 0px;
    transition: all 0.4s;
  }
  .mFooter > button:disabled{
    cursor: not-allowed;
  }
  
  .mFooter > button > i {
    margin-left: 10px;
  }
  
  