<div class="p-grid p-m-0 top-container">
    <div class="p-col-12 p-d-flex p-flex-column">
        <label for="fieldId">Naziv menija</label>
        <input id="fieldId"
            class="m-input p-mb-1"
            type="text"
            [(ngModel)]="menu.name">
    </div>

    <div class="p-col">
        <div class="p-d-flex p-jc-between p-ai-center">
            <h4>Jela</h4>
            <a class="p-mr-3" (click)="display = true">
                <i class="fas fa-plus"></i>
                Dodaj jelo
            </a>
        </div>
        
        <div class="p-mt-4 light-text">
            Nemate dodato nijedno jelo.
        </div>
    </div>

    <div class="p-col-fixed p-d-flex p-flex-column pic">
        
        <img class="box"
            src="assets/img/no-img.png"
            alt="" >

        <input 
            style="display: none;"
            type="file"
            (change)="onFileSelect($event)" #hiddenfileinput>

        <button 
            (click)="hiddenfileinput.click()"
            class="btnn btnn-p ric p-mt-2"
        >
            <i class="fas fa-cloud-upload-alt"></i>
            Izaberite sliku
        </button>
    </div>


    <!-- <div class="col-sm-12 col-md-5 col-lg-5">
        <button class="btnn btnn-r x" pRipple (click)="onCancle()">
            <i class="fas fa-times"></i>
        </button>
        <button class="btnn btnn-g x p-mr-1" pRipple (click)="onConfirm()">
            <i class="fas fa-check"></i>
        </button>
    </div> -->
</div>

<p-dialog
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '50vw'}"
  position="top"
  header="Napravi jelo"
  [transitionOptions]="'0ms'"
  [modal]="true"
  [(visible)]="display">

    <div class="p-grid">
        <div class="p-col-12 p-d-flex p-flex-column">
            <label for="fieldId">Naziv jela</label>
            <input id="fieldId"
                class="m-input p-mb-1"
                type="text"
                [(ngModel)]="mDish.name">
        </div>
        <div class="p-col-12 p-d-flex p-flex-column">
            <label for="fieldId">Sastojci</label>
            <textarea id="fieldId"
                class="m-textarea p-mb-1"
                [(ngModel)]="mDish.ingredients_list">
            </textarea>
        </div>

    </div>


</p-dialog>