<div class="p-grid p-m-0 top-container">
    <div class="p-col-12 p-d-flex p-flex-column">
        <label for="fieldId">Naziv menija</label>
        <input id="fieldId"
            class="m-input p-mb-1"
            type="text"
            [(ngModel)]="menu.name">
    </div>
    <div class="p-col-12 p-mb-2" style="padding: 0px 8px;">
        <h4>Jelovnik</h4>
    </div>

    <div class="p-col">
        Auto
    </div>

    <div class="p-col-fixed p-d-flex p-flex-column pic">
        
        <img class="box"
            src="assets/img/no-img.png"
            alt="" >


        <input 
            style="display: none;background-color: red;"
            type="file"
            (change)="onFileSelect($event)"
        #hiddenfileinput>

        <button 
            (click)="hiddenfileinput.click()"
            class="btnn btnn-p ric p-mt-2"
        >
            <i class="fas fa-cloud-upload-alt"></i>
            Izaberite sliku
        </button>
    </div>


    <!-- <div class="col-sm-12 col-md-5 col-lg-5">
        <button class="btnn btnn-r x" pRipple (click)="onCancle()">
            <i class="fas fa-times"></i>
        </button>
        <button class="btnn btnn-g x p-mr-1" pRipple (click)="onConfirm()">
            <i class="fas fa-check"></i>
        </button>
    </div> -->
</div>