.m_container{
  max-width: 500px !important;
  min-width: 320px !important;
  width: 100% !important;
}
.type > span{
  text-align: center;
}

.error{
  color: rgb(238, 151, 151);
  padding: 1px 4px 2px 4px;
}

.m_container /deep/ .p-inputtext{
  font-family: MLight;
  width: 100%;
}
.m_container /deep/ .p-calendar {
  width: 100%;
}
.m-textarea{
  font-family: MLight;
  min-width: 100%;
  max-width: 100%;
  padding: 2px;
}
.reg-success-block{
  display: flex;
  font-size: 20px;
  color: var(--green-100);
  align-items: center;
}

.reg-success-block > i {
  color: var(--green-500);
  font-size: 28px;
  margin-right: 8px;
}

.navigate{
  margin-left: 10px;
  color: var(--primary-color) !important;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.navigate:hover{
  color: var(--blue-300) !important;
}
