.m_container{
  max-width: 500px !important;
  min-width: 320px !important;
  width: 100% !important;
}
.type > span{
  text-align: center;
}

.error{
  color: rgb(238, 151, 151);
  padding: 1px 4px 2px 4px;
}

.m_container /deep/ .p-inputtext{
  font-family: MLight;
  width: 100%;
}
.m_container /deep/ .p-calendar {
  width: 100%;
}
.m-textarea{
  font-family: MLight;
  min-width: 100%;
  max-width: 100%;
}
