.content > h3 {
  margin: 40px 0px 18px 0px;
}

.container {
  max-width: 1300px;
  margin: 5px auto;
}

.content /deep/ .p-datatable /deep/ .p-datatable-wrapper{
  font-family: 'MLight';
}
.content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tbody > tr > td{
  padding: 4px 5px  !important;
  font-size: 12px;
  border-left: 1px solid #e9ecef;
}
.content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tbody > tr > td:last-child{
  text-align: right;
  border-right: 1px solid #e9ecef;
}
.content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-thead > tr > th{
  border:1px solid #005b9f;
  background-color: #007ad9;
  color: white;
  padding: 8px 0px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tfoot > tr > td{
  padding: 8px 5px;
  font-size: 11px;
}
.content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tfoot > tr > td:last-child{
  text-align: right;
}
.content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tfoot > tr:last-child > td:last-child{
  color: #489f48;
}

.input /deep/ .p-inputtext{
  width: calc(100% - 2*2.357rem);
  font-size: 14px;
}

.input /deep/ .p-inputtext:enabled:focus{
  box-shadow: 0 0 0 0px;
}

.orderBtn{
  width: 160px;
  margin-top: 15px;
  margin-left: auto;
  border-radius: 4px;
}

.orderBtn:hover{
  background-color: #b5daf7;
}

.content /deep/ .p-datatable .p-datatable-tbody > tr > td:first-child{
  text-align: center;
}
.pic {
  max-width: 100%;
  height: 80px;
}
.absolute{
  position: relative;
}
.absolute > i{
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 35px;
  color: var(--danger);
}
.absolute > i:hover{
  color: var(--danger-dark)
}
.left{
  text-align: left !important;
  padding-left: 5px;
  border-right: 0px solid white !important;
  border-left-color: var(--primary-color) !important;
}
.sub-order td{
  border-left-color: var(--yellow-600);
}
.sub-order > td{
  background-color: var(--yellow-500);
  border-left-color:  var(--yellow-600) !important
  /* color: var(); */
}
.sub-order > td:last-child{
  font-family: 'Roboto-midium' !important;
  border-left: 0px solid white !important;
  border-right-color: var(--yellow-600) !important;
}
@media screen and (min-width: 740px) {
  .content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tfoot > tr > td{
    font-size: 15px;
  }
  .content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-thead > tr > th{
    font-size: 16px;
  }
  .content /deep/ .p-datatable /deep/ .p-datatable-wrapper /deep/ .p-datatable-tbody > tr > td{
    font-size: 15px;
  }
}
