.wrapper{
  align-items: center;
  max-width: 1300px;
}

.info-wrapper{
  position: relative;
  max-width: 1300px;
}

.background-gallery{
  height: 280px;
}

.info{
  position: absolute;
  width: 520px;
  top:100px;
  z-index: 100;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: white;
}

.img > img{
  background-color: #e3e3e3;
  padding: 5px;
  width: 100%;
}

.restaurant-menu{
  background-color: white;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.menu-name{
  padding: 16px 24px;
  background-color: #01172fd8;
  color: white;
}

.restaurant-dish{
  background-color: white;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 10px;
  padding-top: 15px;
  border-bottom: 1px solid #e3e3e3;
  font-family: MRegular;
  cursor: pointer;
}
.restaurant-dish:last-child{
  border-bottom:0px;
}

.dish-desc{
  font-size: 14px;
}
.dish-desc{
  margin-top: 28px;
  font-family: MRegular;
  color: #9b9b9b !important;
}

.dish-price{
  font-size: 18px;
  margin-top: 14px;
}

.img-container{
  width: 230px;
}

.dish-img{
  display: block;
  max-width:230px;
  max-height:105px;
  width: auto;
  height: auto;
}


