<div class="wrapper">
  <div class="m_container">
    <h2 class="p-mb-4">Prijavite se na naš servis</h2>

    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="myForm">

        <!-- <div class="block">
          <img class="center logo" src="../../../assets/img/logo.png" alt="logo">
        </div> -->

        <div class="p-field">
          <label for="username">Korisničko ime</label>
          <input id="username" class="m-input"
            #username="ngModel"
            name="username"
            ngModel
            type="text"
            required >
        </div>

        <div class="p-my-1">
          <div *ngIf="username.errors && (username.dirty || username.touched)"
            style="color: #ff9191;">Morate popuniti ovo polje.</div>
        </div>

        <div class="p-field">
          <label for="password">Lozinka</label>
          <input id="password" class="m-input"
            name="password"
            #password="ngModel"
            ngModel
            type="password"
            required >
        </div>

        <div class="p-my-1">
          <div *ngIf="!password.valid && password.touched"
           style="color: #ff9191;">Morate popuniti ovo polje.</div>
        </div>

        <div style="color: #ff9191;" class="p-mt-3" *ngIf="errorMessage !== null">
          {{errorMessage}}
        </div>

        <button class="bttn bttn-primary p-mt-4" style="width: 100%;"
          type="submit" >Prijavi se</button>

        <hr style="width: 100%;margin-top: 20px;border-color: white;">

        <button class="bttn bttn-primary p-mt-4" style="width: 100%;"
          routerLink="/auth/sign-up">Napravi nalog</button>

    </form>
  </div>
</div>

