.header-wrapper{
  background-color: #01172fd8;
}

.header-wrapper /deep/ .p-avatar.p-avatar-circle{
  cursor: pointer;
  background-color: #fffbbc;
  color: #061c33;
  transition: all ease-in 150ms;
}

.header-wrapper /deep/ .p-avatar.p-avatar-circle:hover{
  background-color: var(--yellow-400) !important;
}

.header-container{
  max-width: 1200px;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container > div > ul{
  display: flex;
  list-style: none;
  align-content: center;
  align-items: center;
  padding: 11px 0px;
  font-size: 22px;
}

.header-container > div > ul > li{
  display: block;
  margin: 0px 20px;
  padding: 2px;
  cursor: pointer;
}
.header-container > div > ul > li > a{
  color: var(--blue-eyes);
}
.header-container > div > ul > li > a:hover{
  color: #b7d7fa;
}
.is-active{
  color: #fffbbc !important;
}


.header-container > img {
  width: 70px;
  height: 70px;
}

.cart{
  background-color: #01172fd8;
  padding: 6px 15px;
  border-radius: 7px;
}
