<div class="header-wrapper">
  <div class="header-container">
    <img src="assets/img/logo.png" alt="logo">

    <div>
      <ul>
        <li>
          <span>Početna</span>
        </li>
        <li>
          <span>Meni</span>
        </li>
        <li>
          <span class="cart">
            {{'2000 din.'}}
            <i class="fas fa-shopping-cart"></i>
          </span>
        </li>
        <!--Samo za testestiranje-->
        <li><a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
        <div>
          <p-avatar [label]="acc_initials" size="large" shape="circle"></p-avatar>
        </div>
      </ul>
    </div>
  </div>
</div>
