<div class="header-wrapper">
  <div class="header-container">
    <img src="assets/img/logo.png" alt="logo">

    <div>
      <ul>
        <li>
          <span>Početna</span>
        </li>
        <li>
          <span>Meni</span>
        </li>
        <li>
          <span class="cart">
            {{'2000 din.'}}
            <i class="fas fa-shopping-cart"></i>
          </span>
        </li>
        <!--Samo za testestiranje-->

        <button type="button" pButton  (click)="menu.toggle($event)">
          <p-avatar type="button" *ngIf="account !== null" [label]="acc_initials" size="large" shape="circle"
                  label="Show" ></p-avatar>
        </button>
        <p-menu #menu [popup]="true" [model]="items">
          <li label="Odjavite se" *ngIf="account !== null" ><a (click)="logout()">Odjavite se</a></li>
        </p-menu>
        <div>
          <a *ngIf="account === null" [routerLink]="['/login/sign-in']"><i class="fas fa-sign-in-alt p-mr-2"></i>Prijavite se</a>
        </div>
      </ul>
    </div>
  </div>
</div>
